<div class="page-header">
<div class="row">
<div class="col-lg-9">
<h1>Editing Video Post</h1>
</div>
<div class="col-lg-3">
<%= link_to 'Back to Video Posts', video_posts_path, :class => 'btn btn-primary' %>
<%= link_to 'Show', @video_post, :class => 'btn btn-success' %>
</div>
</div>		
</div>

<div class="row">
<div class="col-lg-9">

<%= render 'form' %>
</div>
<div class="col-lg-3">

</div>
</div>
