<div class="page-header">
<div class="row">
<div class="col-lg-9">
<h1>Editing Photo post</h1>
</div>
<div class="col-lg-3">
<%= link_to 'Back to Photo Posts', photo_posts_path, :class => 'btn btn-primary' %>
<%= link_to 'Show', @photo_post, :class => 'btn btn-success' %>
</div>
</div>		
</div>

<div class="row">
<div class="col-lg-9">

<%= render 'form' %>
</div>
<div class="col-lg-3">

</div>
</div>
